doctype html
html
  head
    title Jay Dance Academy
    block scripts
    block style
  body
    block content
    footer#footer 
        h3 Copyright @ 2023 JayDanceAcademy.com | All rights reserved
    